{{#if model.students.content}}
<ul class="student-listing list-group">
  {{#each model.students.content as |student|}}
    <li class="list-group-item student-item">{{student.firstName}} {{student.lastName}}</li>
  {{/each}}
</ul>
{{else}}
  <p>You have not added any students yet.</p>
{{/if}}
