{{#if user.students.content}}
<ul class="student-listing list-group">
  {{#each user.students.content as |student|}}
    <li class="list-group-item student-item">
      {{student.firstName}} {{student.lastName}}

      <div class="pull-right student-item-buttons-group">
        <button type="button" class="btn btn-default" {{action "viewStudentRecords" student.id}}>
          <i class="fa fa-file-text-o"></i> View Records
        </button>
        <button type="button" class="btn btn-default">
          <i class="fa fa-plus"></i> New Record
        </button>
      </div>
    </li>
  {{/each}}
</ul>
{{else}}
  <p>You have not added any students yet.</p>
{{/if}}
