$black: #000;
$white: #fff;

//========================
//   Blue Grey
//========================
$blue-grey-500:   #607D8B;
$blue-grey-50:    #ECEFF1; // lighter
$blue-grey-100:   #CFD8DC; //    |
$blue-grey-200:   #B0BEC5; //    |
$blue-grey-300:   #90A4AE; //    |
$blue-grey-400:   #78909C; //    |
$blue-grey-500:   #607D8B; //    |
$blue-grey-600:   #546E7A; //    |
$blue-grey-700:   #455A64; //    |
$blue-grey-800:   #37474F; //    |
$blue-grey-900:   #263238; //  darker

//========================
//   Light Blue
//========================
$light-blue-500:  #03A9F4;
$light-blue-50:   #E1F5FE;
$light-blue-100:  #B3E5FC;
$light-blue-200:  #81D4FA;
$light-blue-300:  #4FC3F7;
$light-blue-400:  #29B6F6;
$light-blue-500:  #03A9F4;
$light-blue-600:  #039BE5;
$light-blue-700:  #0288D1;
$light-blue-800:  #0277BD;
$light-blue-900:  #01579B;

//========================
//   Orange
//========================
$orange-500:      #FF9800;
$orange-50:       #FFF3E0;
$orange-100:      #FFE0B2;
$orange-200:      #FFCC80;
$orange-300:      #FFB74D;
$orange-400:      #FFA726;
$orange-500:      #FF9800;
$orange-600:      #FB8C00;
$orange-700:      #F57C00;
$orange-800:      #EF6C00;
$orange-900:      #E65100;

//========================
//   Grey
//========================
$grey-500:        #9E9E9E;
$grey-50:         #FAFAFA;
$grey-100:        #F5F5F5;
$grey-200:        #EEEEEE;
$grey-300:        #E0E0E0;
$grey-400:        #BDBDBD;
$grey-500:        #9E9E9E;
$grey-600:        #757575;
$grey-700:        #616161;
$grey-800:        #424242;
$grey-900:        #212121;

//========================
//   Green
//========================
$light-green:     #91D174;
$dark-green:      #60b13b;
