//==============================================
//   List
//==============================================
.student-listing {
  .student-item {
    padding: 20px;
    font-size: 18px;

    &:hover {
      background: $grey-50;
    }
  }
}

//==============================================
//   Buttons Group (right)
//==============================================
.student-item-buttons-group {
  margin-top: -4px;

  .btn {
    margin-left: 10px;

    &:hover {
      background: $light-green;
      border: 1px solid $dark-green;
      color: $white;
    }
  }
  .fa {
    margin-right: 5px;
  }
}
