<nav class="navbar navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Record Keeper</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="#" class="navbar-link">My Students</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" class="navbar-link">Admin</a></li>
        {{#if session.isAuthenticated}}
          <li><a href="#" class="navbar-link" {{action 'logout'}}>Logout</a></li>
        {{else}}
          <li>{{#link-to 'login' class="navbar-link"}}Login{{/link-to}}</li>
        {{/if}}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="app-outlet">
  {{#each flashMessages.queue as |flash|}}
    {{flash-message flash=flash messageStyle='bootstrap'}}
  {{/each}}

  {{outlet}}
</div>
