<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Dashboard</h2>

      <p>Behold, you have logged in to the super amazing dashboard area.</p>
    </div>
  </div>
</div>
