<div class="container">
  <div class="row student-header-row">
    <div class="col-md-12">
    </div>
  </div>
  <div class="row students-row">
    <div class="col-md-12">
      {{student-listing user=model studentRecords=studentRecords}}
    </div>
  </div>
</div>
