<div class="container">
  <div class="row student-header-row">
    <div class="col-md-12">
      <h2>Students</h2>
    </div>
  </div>
  <div class="row students-row">
    <div class="col-md-12">
      {{student-listing user=model studentRecords=studentRecords selectedStudent=selectedStudent}}
    </div>
  </div>
</div>
